<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.welink.commons.persistence.ItemMapper" >
	<resultMap id="itemTagActivtyVOMap" type="com.welink.commons.vo.ItemTagActivtyVO">
		<result column="itemId" property="itemId" jdbcType="BIGINT" />
	    <result column="address" property="addr" jdbcType="VARCHAR" />
	    <result column="approve_status" property="approveStatus" jdbcType="TINYINT" />
	    <result column="category_id" property="cateId" jdbcType="BIGINT" />
	    <!-- <result column="description" property="description" jdbcType="VARCHAR" /> -->
	    <result column="features" property="features" jdbcType="VARCHAR" />
	    <!-- <result column="has_showcase" property="hasShowcase" jdbcType="TINYINT" /> -->
	    <result column="num" property="itemNum" jdbcType="INTEGER" />
	    <result column="online_end_time" property="endTime" jdbcType="BIGINT" />
	    <!-- <result column="online_start_time" property="onlineStartTime" jdbcType="BIGINT" /> -->
	    <result column="pic_urls" property="pics" jdbcType="VARCHAR" />
	    <result column="price" property="price" jdbcType="BIGINT" />
	    <!-- <result column="prop_imgs" property="prop_imgs" jdbcType="VARCHAR" /> -->
	    <!-- <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
	    <result column="seller_type" property="sellerType" jdbcType="TINYINT" /> -->
	    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="sold_quantity" property="soldCnt" jdbcType="INTEGER" />
	    <result column="specification" property="specification" jdbcType="VARCHAR" />
	    <result column="detail" property="detail" jdbcType="VARCHAR" />
	    <result column="base_item_id" property="baseItemId" jdbcType="BIGINT" />
	    <result column="base_sold_quantity" property="baseSoldQuantity" jdbcType="INTEGER" />
	    
	    <result column="brandName" property="brandName" jdbcType="BIGINT" />
	    <result column="tagName" property="tagName" jdbcType="VARCHAR"/>
	    <result column="kv" property="kv" jdbcType="VARCHAR"/>
        <result column="bit" property="bit" jdbcType="BIGINT"/>
        <result column="activtyStartTime" property="activtyStartTime" jdbcType="TIMESTAMP" />
    	<result column="activtyEndTime" property="activtyEndTime" jdbcType="TIMESTAMP" />
    	<result column="activity_num" property="activityNum" jdbcType="INTEGER" />
    	<result column="activity_sold_num" property="activitySoldNum" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="mikuActiveTopicVOMap" type="com.welink.commons.vo.MikuActiveTopicVO" >
	    <!--
	      WARNING - @mbggenerated
	      This element is automatically generated by MyBatis Generator, do not modify.
	      This element was generated on Fri Apr 08 16:16:33 CST 2016.
	    -->
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="pic_urls" property="picUrls" jdbcType="VARCHAR" />
	    <result column="parameter" property="parameter" jdbcType="VARCHAR" />
	    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
	    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
	    <result column="status" property="status" jdbcType="TINYINT" />
	    <result column="version" property="version" jdbcType="BIGINT" />
	    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
	    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
	    <result column="itemId" property="itemId" jdbcType="BIGINT" />
	    <result column="itemName" property="itemName" jdbcType="VARCHAR"/>
	  </resultMap>
	
	<select id="selectItemTagByParams" resultMap="itemTagActivtyVOMap" parameterType="java.util.Map" >
		select i.id as itemId, i.address, i.approve_status, i.category_id, i.features, i.num, i.online_end_time,i.pic_urls, 
			i.price, i.shop_id, i.title, i.sold_quantity, i.specification, i.detail, i.base_item_id, i.base_sold_quantity,   
			mb.name as brandName,
			t.name as tagName, t.bit, 
			ot.kv, ot.start_time, ot.end_time, ot.activity_num, ot.activity_sold_num
		from tags t 
			LEFT JOIN object_tagged ot on t.id = ot.tag_id
			LEFT JOIN item i on i.id = ot.artificial_id
			left join miku_brand mb on i.brand_id = mb.id
		where i.id is not null and i.approve_status = 1 and ot.status = 1
			<if test="bit != null" >
		        and t.bit = #{bit,jdbcType=BIGINT}
		    </if>
			<if test="id != null" >
		        and i.id = #{id,jdbcType=BIGINT}
		    </if>
		    <if test="shopId != null" >
		        and i.shop_id = #{shopId,jdbcType=BIGINT}
		    </if>
		    <if test="title != null and title != ''" >
		        and i.title like #{title,jdbcType=VARCHAR}
		    </if>
		    <if test="startTime != null" >
		        and ot.start_time >= #{startTime,jdbcType=TIMESTAMP}
		        and ot.end_time >= #{startTime,jdbcType=TIMESTAMP}
		        <!-- and DATE_FORMAT(ot.end_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{start_time}, '%Y-%m-%d') -->
		    </if>
		    <if test="startTime2 != null" >
		        and ot.start_time &lt;= #{startTime2,jdbcType=TIMESTAMP}
		    </if>
		    
		GROUP BY i.id
		<if test="orderByClause == null" >
	      order by ot.end_time desc, i.weight ASC
	    </if>
		<if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	    <if test="limit != null" >
	      limit ${limit}
	    </if>
	    <if test="offset != null" >
	      offset ${offset}
	    </if>
	</select>
	
	<select id="selectItemByTopic" resultMap="com.welink.commons.persistence.ItemMapper.BaseResultMap" parameterType="java.util.Map" >
		select i.* from item i
			LEFT JOIN miku_topic_item mti on i.id = mti.item_id
			LEFT JOIN miku_active_topic mat on mti.topic_id = mat.id
		where i.id is not null and i.approve_status = 1 and i.base_item_id is not null
			and mat.status = 1 and mat.end_time > NOW() and mat.id > 0 and mat.start_time &lt; now() 
			<if test="topicId != null and topicId > 0" >
		        and mat.id = #{topicId,jdbcType=BIGINT}
		    </if>
		    <if test="brandId != null and brandId > 0" >
		        and i.brand_id = #{brandId,jdbcType=BIGINT}
		    </if>
		    <if test="type != null" >
		        and i.type = #{type,jdbcType=TINYINT}
		    </if>
		    <if test="types != null">
				and i.type in
				<foreach collection="types" item="typeList" index="index" open="(" close=")" separator="," >
	              #{typeList}
	            </foreach>
			</if>
			<if test="category1Id != null and category1Id > 0" >
		        and i.Category1_Id = #{category1Id,jdbcType=BIGINT}
		    </if>
		    <if test="category2Id != null and category2Id > 0" >
		        and i.Category2_Id = #{category2Id,jdbcType=BIGINT}
		    </if>
		    <if test="categoryId != null and categoryId > 0" >
		        and i.Category_Id = #{categoryId,jdbcType=BIGINT}
		    </if>
		    
		GROUP BY i.id
		<if test="orderByClause == null" >
	      order by i.weight ASC
	    </if>
		<if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	    <if test="limit != null" >
	      limit ${limit}
	    </if>
	    <if test="offset != null" >
	      offset ${offset}
	    </if>
	</select>
	
	<select id="selectTopicVOsByItemIds" resultMap="mikuActiveTopicVOMap" parameterType="java.util.Map" >
		select mat.*, mti.item_id as itemId 
		from item i
			LEFT JOIN miku_topic_item mti on i.id = mti.item_id
			LEFT JOIN miku_active_topic mat on mti.topic_id = mat.id
		where i.id is not null and i.approve_status = 1 and i.base_item_id is not null
			and mat.id is not null and mat.status = 1 and mat.end_time > now() and mat.start_time &lt; now() 
			
			<if test="topicId != null and topicId > 0" >
		        and mat.id = #{topicId,jdbcType=BIGINT}
		    </if>
		    <if test="itemId != null and itemId > 0" >
		        and mti.item_id = #{itemId,jdbcType=BIGINT}
		    </if>
		    <!-- <if test="inActive != null and inActive == 1" >
		        and mat.start_time &lt; now() 
		    </if> -->
		    <if test="itemIds != null">
				and mti.item_id in
				<foreach collection="itemIds" item="listItem" index="index" open="(" close=")" separator="," >
	              #{listItem}
	            </foreach>
			</if>
		GROUP BY mti.item_id 
	</select>
	
</mapper>