<!DOCTYPE html>
<html>
<head>
    <title>米酷</title>
    #parse("head.vm")

</head>
<body>
<script src="http://$!{host}/h5/js/lib/main.js?v=$!{ver}"></script>
<script src="http://$!{host}/h5/js/page/help.js?v=$!{ver}"></script>
    #parse("footer.vm")
</body>
</html>