<!DOCTYPE html>
<html>
<head>
    <title>我的粉丝</title>
    #parse("head.vm")
    <link rel="stylesheet" href="http://$!{host}/h5/css/page/myAlly.css?v=$!{ver}"/>
</head>
<body>
<div class="waitting" style="margin-left: -44px; margin-top: -40px;">
    <div class="loading"></div>
    <div class="message">正在加载...</div>
</div>
<script src="http://$!{host}/h5/js/lib/main.js?v=$!{ver}"></script>
<script src="http://$!{host}/h5/js/page/myAlly.js?v=$!{ver}"></script>
    #parse("footer.vm")
</body>
</html>