<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        >


    <import resource="classpath:config/shiro/application-shiro.xml"/>
    <import resource="classpath:applicationContext-biz.xml"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.welink.web"/>

    <bean id="wxMpService" class="com.daniel.weixin.mp.api.WxMpServiceImpl" lazy-init="true">
        <property name="wxMpConfigStorage" ref="wxMpConfigStorage"/>
    </bean>

</beans>